*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.myContainer{
    min-height: 100vh;
    width: 100%;
    background-color:violet;
    background-image: linear-gradient(135deg, violet 0%, gray 74%);
    overflow-x: hidden;
    transform-style: preserve-3d;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}
.menu{
    max-width: 72rem;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #fff;
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}
.logo span{
    font-weight: 300;
}
.menu-2{
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
.bar{
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color:#eee;
    transform: 0.5s;
    /*-webkit-transform: 0.5s;
    -moz-transform: 0.5s;
    -ms-transform: 0.5s;
    -o-transform: 0.5s;
    */position: relative;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.bar:before, .bar:after{
    content:"";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color:#eee;
    transform: 0.5s;
    -webkit-transform: 0.5s;
    -moz-transform: 0.5s;
    -ms-transform: 0.5s;
    -o-transform: 0.5s;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.bar:before{
    transition: 1s;
    transform: translateY(-9px);
    -webkit-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -o-transform: translateY(-9px);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.bar:after{
    transition: 1s;
    transform: translateY(9px);
    -webkit-transform: translateY(9px);
    -moz-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.main{
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color:white;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/* .main.active{
    left: 80px;
} */
header.pippo{
    min-height: 100vh;
    width: 100%;
    background:url('/img/pippo.png') no-repeat top center / cover;
    /* background-position: top; */
    /* background-position: center; */
    position: relative;
    /* min-height: 100vh; */
}
header.black{
    min-height: 100vh;
    width: 100%;
    background: black no-repeat top center / cover;
    /* background-position: top; */
    /* background-position: center; */
    position: relative;
    /* min-height: 100vh; */
}
header.car{
    min-height: 100vh;
    width: 100%;
    background:url('/img/Koenigsegg-Gemera-Hypercar-2020-Header.jpg') no-repeat top center / cover;
    /* background-position: top; */
    /* background-position: center; */
    position: relative;
}
header.areaPrivate{
    min-height: 100vh;
    width: 100%;
    background:url('/img/bg-area-private.jpg') no-repeat top center / cover;
    /* background-position: top; */
    /* background-position: center; */
    position: relative;
    background-position-y:bottom;
}

.overlay{
    position: relative;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    overflow:scroll;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.overlay.active{
    height: 100vh;
}
.margin{
    /* margin-top: 100px; */
}
.inner{
    /* max-width: 35rem; */
    text-align: center;
    color: #fff;
    padding: 0 2rem;
}
.title{
    font-size: 2.7rem;
}
.myBtn{
    margin-top: 1rem;
    padding: 0.6rem 1.8rem;
    background-color: #1178e7;
    border: none;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.myContainer.active .bar{
    transform: rotate(360deg);
    background-color: transparent;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.myContainer.active .bar:before{
   transform: translateY(0) rotate(45deg);
   transition: 1s;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   -ms-transition: 1s;
   -o-transition: 1s;
}
.myContainer.active .bar:after{
    transition: 1s;
    transform: translateY(0) rotate(-45deg);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.myContainer.active .main{
    animation: main-animation 0.5s ease;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}
@keyframes main-animation{
    from{
        transform: translate(0);
    }
    to{
        transform: perspective(1300) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}
.links{
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
.links a{
    text-decoration: none;
    color: #eee;
    padding: 1.5rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
    -webkit-animation: hide 0.5s forwards ease;
}
.links a:hover{
    color: #fff;

}
.myContainer.active .links a{
    animation: appear 0.5s forwards ease var(--i);
    -webkit-animation: appear 0.5s forwards ease var(--i);
}
.myContainer.active .links a:hover{
    /* animation: pin 0.5s forwards ease var(--i);
    -webkit-animation: pin 0.5s forwards ease var(--i); */
    scale: 1.7;
    font-size: large;
    color:red;
}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}
@keyframes hide{
    from{
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
    to{
        opacity: 0;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}
}
.myShadow{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: #fff;
}
.myShadow.one{
    z-index: -1;
    opacity: 0.15;
}
.myShadow.two{
    z-index: -2;
    opacity: 0.1;
}
.myContainer.active .myShadow.one{
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}
@keyframes shadow-one{
    0%{
        transform: translate(0);

    }
    5%{
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
    100%{
        transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
}
.myContainer.active .myShadow.two{
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}
@keyframes shadow-two{
    0%{
        transform: translate(0);

    }
    20%{
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
    100%{
        transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
}
.myContainer.active .main:hover + .myShadow.one{
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}
.myContainer.active .main:hover{
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}
@media screen and (max-width: 648px){
    .main.active{
        left: -60px;
    }
    .myShadow{
        left: -10px;
    }
}
@media screen and (max-width: 480px){
    .main.active{
        left: -80px;
    }
    .myShadow{
        left: -30px;
    }
}
@media screen and (max-width: 400px){
    .main.active{
        left: -130px;
    }
    .myShadow.one{
        left: -80px;
    }
    .myShadow.two{
        left: -30px;
    }
}







