*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{

}
.myContainer{
    min-height: 100vh;
    width: 100%;
    background-color:violet;
    background-image: linear-gradient(135deg, violet 0%, gray 74%);
    overflow-x: hidden;
    transform-style: preserve-3d;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}
.menu{
    max-width: 72rem;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #fff;
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}
.logo span{
    font-weight: 300;
}
.menu-2{
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
.bar{
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color:#eee;
    transform: 0.5s;
    -webkit-transform: 0.5s;
    -moz-transform: 0.5s;
    -ms-transform: 0.5s;
    -o-transform: 0.5s;
}
.bar::before, .bar::after{
    content:'';
    position: absolute;
    width: inherit;
    background-color:#eee;
    transform: 0.5s;
    -webkit-transform: 0.5s;
    -moz-transform: 0.5s;
    -ms-transform: 0.5s;
    -o-transform: 0.5s;
}
.bar::before{
    transform: translateY(-9px);
    -webkit-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -o-transform: translateY(-9px);
}
.bar::after{
    transform: translateY(9px);
    -webkit-transform: translateY(9px);
    -moz-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
}
.main{
    position: relative;
    width: 100px;
    left: 0;
    z-index: 5;
    background-color:white;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
header{
    min-height: 100vh;
    width: 100px;
    background:url('/img/pippo.png') no-repeat;
    background-position: top;
    background-position: center;
    position: relative;
}